<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omphulusa Mashau</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Porfolio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<body>
    <header class="header">
        <nav class="navbar1">
            <div class="navbar">
                <a style="--i:1;" asp-area="" asp-controller="Home" asp-action="Index">About</a>
                <a style="--i:2;" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                <a style="--i:3;" asp-area="" asp-page="/Resume">Resume</a>
                <a style="--i:4;" asp-area="" asp-controller="Contacts" asp-action="Create">Contact</a>
            </div>
            <div class="nav-container container">                
                <input type="checkbox" class="checkbox" name="" id="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    @* <li><a asp-area="" asp-controller="Freelancing" asp-action="Index">Freelancing</a></li> *@
                    <li><a asp-area="" asp-controller="Projects" asp-action="Index">Projects</a></li>
                    <li><a asp-area="" asp-controller="Resume" asp-action="Index">Resume</a></li>
                    <!--<li><a asp-area="" asp-controller="Home" asp-action="Index">Blog</a></li>-->
                    <li><a asp-area="" asp-controller="Contacts" asp-action="Create">Contact</a></li>
                    <li><button id="darkModeToggle" class="btn btn-sm btn-outline-secondary">Toggle 🌓</button></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer">
            &copy; 2025 - Omphulusa Mashau 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
